header {
    background-color: #ccc;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 550px - 0.5rem)/2);

    nav {
        margin-top: 0;
    }

    a {
        color: #222;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1;
        margin: 0 0.5rem 0 0;
        padding: 0.25rem;
        text-decoration: none;
        &.current-page {
            border-bottom: 2px solid #222;;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}